<div class="map-container space-y-4 pr-4">
    <div class="flex items-center justify-between w-full">
        <button class="px-4 py-2 bg-gray-200 border border-gray-300 rounded-md shadow-sm font-semibold"
            (click)="loadMap()">
            View Map
        </button>
        <button class="px-4 py-2 bg-gray-200 space-x-2 border border-gray-300 rounded-md shadow-sm font-semibold"
            (click)="refreshMap()">
            <fa-icon [icon]="faArrowRotateRight" class="text-gray-500"></fa-icon>
            Refresh
        </button>
    </div>
    
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>
