<!-- Header -->
<app-list-header *ngIf="(!fallbackManagerState.errorMessage && !fallbackManagerState.noOrganization) || fallbackManagerState.loading"
    [title]="'Warehouses'" [icon]="faWarehouse" [searchPlaceholder]="'Search Warehouses'" [sortOptions]="sortOptions" [createName]="'Warehouse'" [createLink]="'create-warehouse'" [feature]="Feature.WAREHOUSE"
    (onSearch)="handleSearch($event)" (onSortChange)="handleSortChange($event)"
></app-list-header>

<!-- Page content-->
<div *ngIf="!fallbackManagerState.fallBack" class="page-standard-horizontal-padding">
    <ul *ngFor="let warehouse of warehouses">
        <li
            key="warehouse.id"
            class="px-4 py-2 my-4 bg-gray-50 hover:bg-gray-100 border border-gray-300 rounded-md shadow-sm"
        >
            <a
                [routerLink]="'/dashboard/warehouses/' + warehouse.id"
                class="font-semibold text-lg hover:text-blue-700 hover:text-underline"
                >{{ warehouse.name }}</a
            >
            <p class="text-gray-900">{{ warehouse.location?.address }}</p>
        </li>
    </ul>
    <div class="flex items-center justify-end py-4">
        <app-page-selector
            [page]="page"
            [itemsPerPage]="itemsPerPage"
            [totalItems]="totalCount"
            (pageChange)="changePage($event)"
        ></app-page-selector>
    </div>
</div>

<!-- Fallback manager -->
<app-fallback-manager
    [fallbackManagerState]="fallbackManagerState"
></app-fallback-manager>
