<div class="map-container space-y-4 px-8 pr-16">
    <div class="flex items-center justify-between w-full">
        <h1 class="page-title">Map</h1>
        <button
            (click)="handleToggleAddRouteMode()"
            class="standard-write-button"
        >   
            <fa-icon [icon]="faPlus" class="text-white mr-2"></fa-icon>
            Add Route
        </button>
    </div>
    
    <div class="map-frame" *ngIf="isMapInitialized">
        <div id="map"></div>
    </div>
</div>

<ng-container *ngIf="isAddRouteModeOn">
    <ng-container *ngTemplateOutlet="routeTemplate"></ng-container>
</ng-container>

<ng-template #routeTemplate>
    <div class="mx-10 p-10 border border-gray-300 rounded-b-sm shadow-sm">
        <app-add-transport-route [facilities]="supplyChainMap?.mapData?.facilities || []" #addRouteComponent></app-add-transport-route>
    </div>
</ng-template>
