<div class="map-container space-y-4 px-8 pr-16">
    <div class="flex items-center justify-between w-full">
        <h1 class="page-title">Map</h1>
        <div class="flex items-center space-x-4">
            <button
                *ngIf="!!selectedRoute && !isAddRouteModeOn"
                (click)="handleToggleUpdateRouteMode()"
                class="standard-write-button"
            >   
                <fa-icon [icon]="faEdit" class="text-white mr-2"></fa-icon>
                Update Route
            </button>
            <button
                (click)="handleToggleAddRouteMode()"
                class="standard-write-button"
            >   
                <fa-icon [icon]="faPlus" class="text-white mr-2"></fa-icon>
                Add Route
            </button>
        </div>
    </div>
    
    <div class="map-frame" *ngIf="isMapInitialized">
        <div id="map"></div>
    </div>
</div>

<div
    *ngIf="!!selectedRoute && !isAddRouteModeOn && !isUpdateRouteModeOn" 
    class="mx-10 p-10 border border-gray-300 rounded-b-sm shadow-sm"
>
    <app-route-details
        [route]="selectedRoute"
    >
    </app-route-details>
</div>

<!-- Add Route -->
<ng-container *ngIf="isAddRouteModeOn && !isUpdateRouteModeOn">
    <ng-container *ngTemplateOutlet="addRouteTemplate"></ng-container>
</ng-container>

<ng-template #addRouteTemplate>
    <div class="mx-10 p-10 border border-gray-300 rounded-b-sm shadow-sm">
        <app-add-transport-route [facilities]="supplyChainMap?.mapData?.facilities || []" #addRouteComponent></app-add-transport-route>
    </div>
</ng-template>

<!-- Update Route -->
<ng-container *ngIf="isUpdateRouteModeOn && !isAddRouteModeOn">
    <ng-container *ngTemplateOutlet="updateRouteTemplate"></ng-container>
</ng-container>

<ng-template #updateRouteTemplate>
    <div class="mx-10 p-10 border border-gray-300 rounded-b-sm shadow-sm">
        <app-update-transport-route [facilities]="supplyChainMap?.mapData?.facilities || []" #updateRouteComponent></app-update-transport-route>
    </div>
</ng-template>
