<div class="w-48 h-64 space-y-4 p-4 border border-gray-300 rounded-md shadow-md bg-white text-black font-semibold">
    <div class="flex items-center space-x-2">
        <app-user-avatar
            [shouldUseCurrentUser]="true"
        ></app-user-avatar>
        <h2 class="text-lg">
            {{ currentUser?.username }}
        </h2>
    </div>
    
    <div>
        <a [routerLink]="['/dashboard/organization/profile', currentUser?.username]">Profile</a>
    </div>

    <div>
        <a routerLink="/dashboard/organization/subscription-plan">Subscription</a>
    </div>

    <div>
        <a routerLink="/dashboard/settings">Settings</a>
    </div>

    <button 
        (click)="logout()"
        class="auth-button"
    >
        Logout
    </button>
</div>