<div class="flex p-8">
    <form (ngSubmit)="onSubmit()">
        <span class="font-bold text-2xl pb-6">Create Organization</span>
        <div class="form-field">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="name" name="name" />
        </div>
        <div class="form-field">
            <label for="address">Address:</label>
            <input
                type="text"
                id="address"
                [(ngModel)]="address"
                name="address"
            />
        </div>
        <div class="form-field">
            <label for="contactInfo">Contact Information:</label>
            <input
                type="text"
                id="contactInfo"
                [(ngModel)]="contactInfo"
                name="contactInfo"
            />
        </div>
        <!-- User Search -->
        <div class="form-field mt-4">
            <label for="searchUsername">Search User:</label>
            <div class="flex items-center">
                <input
                    type="text"
                    id="searchUsername"
                    [(ngModel)]="searchUsername"
                    name="searchUsername"
                />
                <button
                    type="button"
                    (click)="onSearch()"
                    class="w-12 h-10 bg-gray-900 text-white border border-gray-500 rounded-r-md hover:bg-black"
                >
                    <fa-icon [icon]="faSearch" class="small-icon"></fa-icon>
                </button>
            </div>
        </div>
        <div *ngIf="searchResults.length > 0">
            <ul class="space-y-2">
                <li
                    *ngFor="let user of searchResults"
                    class="flex items-center space-x-2"
                >
                    <div
                        class="p-2 bg-gray-50 border border-gray-200 rounded-md shadow-sm font-semibold hover:bg-gray-100"
                    >
                        {{ user.username }}
                    </div>
                    <button type="button" (click)="onSelectUser(user)">
                        Select
                    </button>
                </li>
            </ul>
        </div>
        <div *ngIf="selectedUsers.length > 0">
            <ul class="space-y-2">
                <li
                    *ngFor="let user of selectedUsers"
                    class="flex items-center min-w-2 max-w-40 w-auto space-x-2 p-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm font-semibold hover:bg-gray-100"
                >
                    <fa-icon [icon]="faUser" class="small-icon mb-1"></fa-icon>
                    <div class="">{{ user.username }}</div>
                    <button type="button" (click)="onSelectUser(user)">
                        <fa-icon
                            [icon]="faXmark"
                            class="small-icon hover:text-red-700"
                        ></fa-icon>
                    </button>
                </li>
            </ul>
        </div>
        <button type="submit" class="standard-write-button mt-4">
            Create Organization
        </button>
    </form>
</div>
