<!-- Header -->
<div *ngIf="(!fallbackManagerState.errorMessage && !fallbackManagerState.noOrganization) || fallbackManagerState.loading" class="page-standard-horizontal-padding">
    <h2 class="flex items-center">
        <fa-icon [icon]="faIndustry" class="text-lg text-gray-700"></fa-icon>
        <div class="page-title ml-2">Factories</div>
    </h2>
</div>

<!-- Page content-->
<div *ngIf="!fallbackManagerState.fallBack" class="page-standard-horizontal-padding">
    <ul *ngFor="let factory of factories">
        <li
            key="factory.id"
            class="px-4 py-2 my-4 bg-gray-50 hover:bg-gray-100 border border-gray-300 rounded-sm shadow-sm"
        >
            <a
                [routerLink]="'/dashboard/factories/' + factory.id"
                class="font-semibold text-lg hover:text-blue-700 hover:text-underline"
                >{{ factory.name }}</a
            >
            <p class="text-gray-900">{{ factory.location?.address }}</p>
        </li>
    </ul>
</div>

<!-- Fallback manager -->
<app-fallback-manager
    [fallbackManagerState]="fallbackManagerState"
></app-fallback-manager>
