<div class="w-48 h-64 space-y-4 p-4 border border-gray-300 rounded-md shadow-md bg-white text-black font-semibold">
    <div class="flex items-center space-x-2">
        <img
            src="assets/images/blank-avatar-image.png"
            alt="Avatar"
            class="w-10 h-10 rounded-full"
        />
        <h2 class="text-lg">
            {{ currentUser?.username }}
        </h2>
    </div>
    
    <div>
        <a [routerLink]="['/dashboard/organization/profile', currentUser?.username]">Profile</a>
    </div>

    <div>
        <a routerLink="/dashboard/organization/subscription-plan">Subscription</a>
    </div>

    <div>
        <a routerLink="/dashboard/settings">Settings</a>
    </div>

    <button 
        (click)="logout()"
        class="auth-button"
    >
        Logout
    </button>
</div>