<!-- Header -->
<div *ngIf="(!fallbackManagerState.errorMessage && !fallbackManagerState.noOrganization) || fallbackManagerState.loading"
    class="page-standard-horizontal-padding entity-page-header">
    <div class="flex items-center justify-between w-full">
        <div>
            <h2 class="page-title">{{ warehouse?.name }}</h2>
            <p class="text-gray-900">{{ warehouse?.location?.address || "" }}</p>
        </div>
        <div class="flex items-center space-x-4">
            <button (click)="openConfirmDialog()" class="standard-delete-button">
                <fa-icon [icon]="faTrash" class="w-4 h-4 mb-1"></fa-icon>
            </button>
            <button
                class="standard-write-button"
                [routerLink]="'/dashboard/warehouses/' + warehouse?.id + '/update'"
            >
                Edit Warehouse    
            </button>
        </div>
    </div>
</div>

<!-- Tabs -->
<app-tabs
    [tabs]="tabs"
    [activeTab]="activeTab"
    (tabSelected)="onTabSelected($event)"
></app-tabs>

<app-warehouse-overview *ngIf="activeTab === 'Overview'" [warehouse]="warehouse"></app-warehouse-overview>
<app-warehouse-inventory *ngIf="activeTab === 'Inventory'" [searchMode]="SearchMode.SECONDARY" [warehouseId]="warehouse?.id" [dontPadHorizontally]="true"></app-warehouse-inventory>
<app-warehouse-performance *ngIf="activeTab === 'Performance'" [warehouse]="warehouse"></app-warehouse-performance>


<!-- Fallback manager -->
<app-fallback-manager
    [fallbackManagerState]="fallbackManagerState"
></app-fallback-manager>

<!-- Confirm dialog -->
<div class="overlay" *ngIf="isConfirmDialogOpen">
    <div class="dialog-container">
        <app-generic-confirm-dialog 
            [dialogInput]="deleteDialogInput"
            (confirm)="handleDeleteWarehouse()"
            (cancel)="handleCancel()"
        >
        </app-generic-confirm-dialog>
    </div>
</div>