<div class="w-full h-full px-8 py-4 space-y-4 bg-gray-100 border-l border-gray-300 shadow-sm">
    <h2 class="text-xl font-semibold">Toolbar</h2>
    <div class="">
        <h1 class="text-lg font-semibold text-gray-800 pb-2">Edit Configuration</h1>
        <div class="font-semibold">
            Stages
        </div>
        <div class="font-semibold">
            Connections
        </div>
    </div>
    <div class="">
        <h1 class="text-lg font-semibold text-gray-800 pb-2">Display Info</h1>
        <div class="">
            Quantities (Q)
        </div>
        <div class="">
            Capacities (C)
        </div>
        <div class="">
            Priorities (P)
        </div>
    </div>
    <div class="">
        <h1 class="text-lg font-semibold text-gray-800 pb-2">Allocate Resources</h1>
        <div class="space-y-2">
            <button class="standard-button">
                View Active Plan
            </button>
            
            <button class="standard-button">
                Compute Allocation Plan
            </button>
            
            <button class="standard-button">
                View Production History
            </button>
        </div>
    </div>
    <div class="">
        <h1 class="text-lg font-semibold text-gray-800 pb-2">Seek Resources</h1>
        <button class="standard-button">
            Seek Missing Resources
        </button>
    </div>
</div>  