<div class="px-8 py-4 space-y-4">
    <div class="flex items-center justify-between">
        <div class="page-title">
            Production History
        </div>
        <!-- <div class="pt-4">
            <button (click)="handleRefreshReport()" class="standard-button">
                <fa-icon [icon]="faArrowRotateRight" class="mr-2"></fa-icon>
                Refresh Report
            </button>
        </div> -->
    </div>

    <div class="flex items-start justify-between w-full">
        <div style="min-width: 450px; max-height: 300px;">
            <ng-container #chartContainer></ng-container>
        </div>
    </div>
</div>