<div *ngIf="!!currentOrganization">
    <!-- Header -->
    <div
        class="flex items-start justify-between page-standard-padding border-b border-gray-300 shadow-sm"
    >
        <div class="">
            <fa-icon
                [icon]="faBuilding"
                class="small-icon text-gray-700 mr-2"
            ></fa-icon>
            <span class="page-title"
                >Organization: {{ currentOrganization.name }}</span
            >
            <div class="flex flex-col pt-2 text-lg text-gray-900">
                <span>Address: {{ currentOrganization?.address }}</span>
                <span
                    >Contact Information:
                    {{ currentOrganization?.contactInfo }}</span
                >
            </div>
        </div>
        <div class="flex flex-col justify-end space-y-2">
            <span class="font-semibold text-lg">
                Subscription Plan: {{ currentOrganization.subscriptionPlan }}
            </span>
            <button class="standard-write-button self-end">Change Plan</button>
        </div>
    </div>

    <!-- Users panel -->
    <div class="flex flex-col page-standard-padding space-y-2">
        <div class="flex items-center">
            <span class="text-xl font-semibold mr-2">Admins:</span>
            <span *ngFor="let admin of admins; let i = index" class="text-lg">
                <ng-container *ngIf="0 < i">, </ng-container
                >{{ admin.username }}
            </span>
        </div>
        <div class="flex items-center">
            <span class="text-xl font-semibold mr-2">Members:</span>
            <span *ngFor="let member of members; let i = index" class="text-lg">
                <ng-container *ngIf="0 < i">, </ng-container
                >{{ member.username }}
            </span>
        </div>
        <div class="flex items-center">
            <span class="text-xl font-semibold mr-2">No role:</span>
            <span *ngFor="let noRole of noRoles; let i = index" class="text-lg">
                <ng-container *ngIf="0 < i">, </ng-container
                >{{ noRole.username }}
            </span>
        </div>
    </div>
</div>

<!-- Fallback -->
