<div class="w-full p-4 bg-white border border-gray-300 rounded-md shadow-sm">
    <div class="flex items-center justify-between w-full px-4 py-6">
        <h2 class="text-xl font-semibold">Custom Plan</h2>

        <div class="flex items-center space-x-4">
            <span class="font-semibold text-gray-700">Monthly</span>
            <div class="toggle-switch">
                <label>
                    <input
                        type="checkbox"
                        [(ngModel)]="isMonthly"
                        (ngModelChange)="switchTime()"
                    />
                    <span class="slider round"></span>
                </label>
            </div>
            <span class="font-semibold text-gray-700">Yearly</span>
        </div>
    </div>

    <div class="flex items-center px-8">
        <button
            (click)="selectPlanTier(getPlanTierEnum(planTierKey))"
            *ngFor="let planTierKey of getObjectValues(PlanTier)" 
            [class]="planTierKey === selectedPlanTier ? 'bg-gray-100' : ''"
            class="flex flex-col items-center justify-center space-y-2 px-8 py-4 hover:bg-gray-100"
        >
            <h2 class="font-semibold text-lg">
                {{ decapitalize(planTierKey.toString()) }}
            </h2>

            <span class="text-lg font-semibold text-gray-800">
                ${{ planService.getSubscriptionPlan(getPlanTierEnum(planTierKey)).dollarsPerMonth}}
            </span>
        </button>
    </div>

    <mat-accordion multi="true" class="overflow-y-auto">
        <div class="grid grid-cols-4 gap-4 px-8 py-4 font-semibold text-lg bg-white">
            <div>Features</div>
            <div>Base</div>
            <div>Add. Quantity</div>
            <div>Price</div>
        </div>
    
        <mat-expansion-panel *ngFor="let group of getObjectValues(featuresByGroup)" class="border-t border-gray-300">
            <mat-expansion-panel-header class="border-0 shadow-none">
                <mat-panel-title class="text-xl font-semibold p-2">
                    {{ group }}
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <div *ngFor="let featureKey of featuresByGroup[group]" class="py-2 px-4">
                <div class="grid grid-cols-4 gap-4 items-center">
                    <div class="col-span-1">
                        <h2 class="text-lg font-semibold">{{ toTitleCase(featureKey) }}</h2>
                    </div>
                    <div class="col-span-1 text-lg text-gray-800">
                        {{ getPlanFeatureDetail(getFeatureEnum(featureKey), currentPlan) }}
                    </div>
                    <div class="col-span-1">
                        <input type="number" [(ngModel)]="customPlan.additionalFeatures[getFeatureEnum(featureKey)]"
                               class="w-20 h-10 border border-gray-300 rounded-md p-2 text-center" />
                    </div>
                    <div class="col-span-1 text-lg font-semibold text-gray-800">
                        ${{ getFeaturePrice(getFeatureEnum(featureKey)) | number:'1.0-2' }}
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
    

    <div class="flex items-center justify-end w-full px-10">
        <div class="text-xl font-semibold text-gray-800">
            Total:  ${{ getTotalPrice() | number: '1.0-2' }} 
        </div>
    </div>
</div>


    
    <!-- <div class="space-y-4 p-4">
        <div class="flex items-center justify-between w-full px-8">
            <h2 class="label-medium-large">
                Feature
            </h2>
            <h2 class="label-medium-large">
                Base
            </h2>
            <h2 class="label-medium-large">
                Quantity
            </h2>
            <h2 class="label-medium-large">
                Price
            </h2>
        </div>
        <div class="flex items-center justify-between w-full px-8">
            <div class="flex items-center space-x-4">
                <h2 class="text-lg font-semibold">Users</h2>
                <span class="text-lg font-semibold text-gray-800"></span>
            </div>

            <div class="text-lg text-gray-800">
                {{ planService.getSubscriptionPlan(selectedPlanTier).maxMembers }}
            </div>

            <input
                type="number"
                [(ngModel)]="customPlan.additionalFeatures[Feature.USER]"
                class="w-20 h-10 border border-gray-300 rounded-md p-2"
            />

            <div class="text-lg font-semibold text-gray-800">
                ${{ getPriceByFeature(Feature.USER) | number: '1.0-2' }}
            </div>
        </div>

        <div class="flex items-center justify-between w-full px-8">
            <div class="flex items-center space-x-4">
                <h2 class="text-lg font-semibold">Products</h2>
                <span class="text-lg font-semibold text-gray-800"></span>
            </div>
            
            <div class="text-lg text-gray-800">
                {{ planService.getSubscriptionPlan(selectedPlanTier).maxProducts }}
            </div>

            <input
                type="number"
                [(ngModel)]="customPlan.additionalFeatures[Feature.PRODUCT]"
                class="w-20 h-10 border border-gray-300 rounded-md p-2"
            />

            <div class="text-lg font-semibold text-gray-800">
                ${{ getPriceByFeature(Feature.PRODUCT) | number: '1.0-2' }}
            </div>
        </div>
    </div> -->