<div class="w-full h-96 p-4 bg-white border border-gray-300 rounded-md shadow-sm">
    <div class="flex items-center justify-between w-full p-4">
        <h2 class="text-xl font-semibold">Custom Plan</h2>

        <div class="flex items-center space-x-4">
            <span class="font-semibold text-gray-700">Monthly</span>
            <div class="toggle-switch">
                <label>
                    <input
                        type="checkbox"
                        [(ngModel)]="isMonthly"
                        (ngModelChange)="switchTime()"
                    />
                    <span class="slider round"></span>
                </label>
            </div>
            <span class="font-semibold text-gray-700">Yearly</span>
        </div>
    </div>

    <div class="flex items-center px-8">
        <button
            (click)="selectPlanTier(planTier)"
            *ngFor="let planTier of getObjectValues(PlanTier)" 
            [class]="planTier === selectedPlanTier ? 'bg-gray-100' : ''"
            class="flex flex-col items-center justify-center space-y-2 px-8 py-4 hover:bg-gray-100"
        >
            <h2 class="font-semibold text-lg">
                {{ decapitalize(planTier.toString()) }}
            </h2>

            <span class="text-lg font-semibold text-gray-800">
                ${{ planService.getSubscriptionPlan(planTier).dollarsPerMonth}}
            </span>
        </button>
    </div>
    
    <div class="space-y-4 p-4">
        <div class="flex items-center justify-between w-full px-8">
            <h2 class="label-medium-large">
                Feature
            </h2>
            <h2 class="label-medium-large">
                Base
            </h2>
            <h2 class="label-medium-large">
                Quantity
            </h2>
            <h2 class="label-medium-large">
                Price
            </h2>
        </div>
        <div class="flex items-center justify-between w-full px-8">
            <div class="flex items-center space-x-4">
                <h2 class="text-lg font-semibold">Users</h2>
                <span class="text-lg font-semibold text-gray-800"></span>
            </div>

            <div class="text-lg text-gray-800">
                {{ planService.getSubscriptionPlan(selectedPlanTier).maxMembers }}
            </div>

            <input
                type="number"
                [(ngModel)]="customPlan.additionalFeatures[Feature.USER]"
                class="w-20 h-10 border border-gray-300 rounded-md p-2"
            />

            <div class="text-lg font-semibold text-gray-800">
                ${{ getPriceByFeature(Feature.USER) | number: '1.0-2' }}
            </div>
        </div>

        <div class="flex items-center justify-between w-full px-8">
            <div class="flex items-center space-x-4">
                <h2 class="text-lg font-semibold">Products</h2>
                <span class="text-lg font-semibold text-gray-800"></span>
            </div>
            
            <div class="text-lg text-gray-800">
                {{ planService.getSubscriptionPlan(selectedPlanTier).maxProducts }}
            </div>

            <input
                type="number"
                [(ngModel)]="customPlan.additionalFeatures[Feature.PRODUCT]"
                class="w-20 h-10 border border-gray-300 rounded-md p-2"
            />

            <div class="text-lg font-semibold text-gray-800">
                ${{ getPriceByFeature(Feature.PRODUCT) | number: '1.0-2' }}
            </div>
        </div>
    </div>


    <div class="flex items-center justify-end w-full px-10">
        <div class="text-xl font-semibold text-gray-800">
            ${{ getTotalPrice() | number: '1.0-2' }} 
        </div>
    </div>
</div>