<button
    (click)="toggleCard()"
    *ngIf="!isCardOpen"
    class="route-card-closed-container"
>
    <img [src]="imageUrl" alt="Route" />
</button>
<div *ngIf="isCardOpen" class="route-card-expanded-container">
    <div class="border-b border-gray-300 py-1">
        <div class="relative flex items-start justify-center">
            <!-- Route Card Closed Container (Centered) -->
            <div class="route-card-closed-container">
                <img [src]="imageUrl" alt="Route" />
            </div>

            <fa-icon
                [icon]="faXmark"
                (click)="toggleCard()"
                class="route-card-close-button"
            ></fa-icon>
        </div>
    </div>

    <div class="p-2">
        <div>
            Estimated Progress: {{ estimatedProgress * 100 }}%
        </div>
        <!-- <div>
            ETA: {{ getETAString() }}
        </div> -->
    </div>
</div>