
<div class="w-full p-10 space-y-8 overflow-x-hidden">
    <div class="flex items-center justify-center w-full py-8">
        <h2 class="text-4xl font-semibold">Subscription</h2>
    </div>

    <div>
        <app-custom-plan
            [isExpanded]='true'
        ></app-custom-plan>
    </div>
    
    <div>
        <app-payment
            [customPlan]="customPlan"
        ></app-payment>
    </div>
    
    <div class="flex items-center justify-end w-full">
        <button 
            (click)="confirmSubscription()"
            class="standard-write-button"
        >
            Confirm Subscription
        </button>
    </div>
</div>