<button
    (click)="toggleCard()"
    *ngIf="!isCardOpen"
    class="facility-card-closed-container"
>
    <img [src]="imageUrl" alt="Facility" />
</button>
<div *ngIf="isCardOpen" class="facility-card-expanded-container">
    <div class="border-b border-gray-300 py-1">
        <div class="relative flex items-start justify-center">
            <!-- Facility Card Closed Container (Centered) -->
            <div class="facility-card-closed-container">
                <img [src]="imageUrl" alt="Facility" />
            </div>

            <!-- X-mark Icon (Positioned at the end) -->
            <fa-icon
                [icon]="faXmark"
                (click)="toggleCard()"
                class="facility-card-close-button"
            ></fa-icon>
        </div>

        <span class="flex justify-center text-lg font-semibold pt-1">{{ facility.name }}</span>
    </div>

    <div class="p-2">
        <span>Production stages: 3</span>
        <span>Incoming Shipments: 3</span>
        <span>Outgoing : 3</span>
    </div>
</div>
