<div class="py-4 space-y-4">
    <div class="page-standard-horizontal-padding flex items-end space-x-2 w-full pt-2 pb-4">
        <h2 class="page-title">
            Custom Roles
        </h2>
        <span class="label-large">({{ customRoles?.length ?? 0 }})</span>
    </div>

    <mat-accordion multi="true" class="overflow-y-auto pt-6 whitespace-nowrap">
        <div class="grid grid-cols-6 gap-4 px-8 py-4 font-semibold text-xl bg-white" style="grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;">
            <div>Role Name</div>
            <div>Read</div>
            <div>Create</div>
            <div>Update</div>
            <div>Delete</div>
            <div></div>
        </div>
    
        <mat-expansion-panel *ngFor="let customRole of customRoles" class="border-t border-gray-300">
            <mat-expansion-panel-header class="border-0 shadow-none">
                <div class="flex items-center justify-between w-full">
                    <div class="text-xl font-semibold py-4">
                        {{ customRole?.name }}
                    </div>

                    <!-- CRUD ops Buttons -->
                    <div class="flex items-center mr-4 space-x-2">
                        <button class="standard-write-button">
                            <fa-icon [icon]="faSave"></fa-icon>
                        </button>
                        <button class="standard-write-button">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                    </div>
                </div>
            </mat-expansion-panel-header>
            
            
            <div *ngFor="let group of this.calculatorService.getObjectValues(this.calculatorService.getFeaturesByGroup())" class="PY-2 border-t border-gray-300">
                <div *ngFor="let featureKey of this.calculatorService.getFeaturesByGroup()[group]" class="py-2 pl-8">
                    <div class="grid grid-cols-6 items-center" style="grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;">
                        <div class="col-span-1">
                            <h2 class="text-lg font-semibold whitespace-nowrap">{{ this.uiUtilService.formatEnum(featureKey) }}</h2>
                        </div>
                        <div>
                            <input type="checkbox"
                                   [(ngModel)]="customRole.permissions.featurePermissions[featureKey].canRead"
                                   name="{{ featureKey + '_canRead' }}" />
                        </div>
                        <div>
                            <input type="checkbox"
                                   [(ngModel)]="customRole.permissions.featurePermissions[featureKey].canCreate"
                                   name="{{ featureKey + '_canCreate' }}" />
                        </div>
                        <div>
                            <input type="checkbox"
                                   [(ngModel)]="customRole.permissions.featurePermissions[featureKey].canUpdate"
                                   name="{{ featureKey + '_canUpdate' }}" />
                        </div>
                        <div>
                            <input type="checkbox"
                                   [(ngModel)]="customRole.permissions.featurePermissions[featureKey].canDelete"
                                   name="{{ featureKey + '_canDelete' }}" />
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>