<!-- Header -->
<app-list-header *ngIf="(!fallbackManagerState.errorMessage && !fallbackManagerState.noOrganization) || fallbackManagerState.loading"
    [title]="'Products'" [icon]="faBox" [searchPlaceholder]="'Search Products'" [sortOptions]="sortOptions" [createName]="'Product'" [createLink]="'create-product'"
    (onSearch)="handleSearch($event)" (onSortChange)="handleSortChange($event)"
></app-list-header>

<!-- Page content-->
<div *ngIf="!fallbackManagerState.fallBack" class="page-standard-horizontal-padding pt-4">
    <ul *ngFor="let product of products">
        <li
            key="product.id"
            class="px-4 py-2 my-4 bg-gray-50 hover:bg-gray-100 border border-gray-300 rounded-sm shadow-sm"
        >
            <a
                [routerLink]="'/dashboard/products/' + product.id"
                class="font-semibold text-lg hover:text-blue-700 hover:text-underline"
                >{{ product.name }}</a
            >
            <p class="text-gray-900">{{ product.description }}</p>
        </li>
    </ul>
    <div class="flex items-center justify-end py-4">
        <app-page-selector
            [page]="page"
            [itemsPerPage]="itemsPerPage"
            [totalItems]="totalCount"
            (pageChange)="changePage($event)"
        ></app-page-selector>
    </div>
</div>


<!-- Fallback manager -->
<app-fallback-manager
    [fallbackManagerState]="fallbackManagerState"
></app-fallback-manager>
