<div
    *ngIf="isSidebarOpen"
    class="sidebar flex flex-col justify-between w-64 h-full text-white border-r border-gray-300 rounded-r-md"
>
    <div>
        <div class="flex items-center justify-between px-6 py-4">
            <span class="font-semibold text-xl ml-10 mt-2">Dashboard</span>
            <fa-icon
                [icon]="faBars"
                class="w-4 h-4 hover:text-gray-200 cursor-pointer"
                (click)="toggleSidebar()"
            ></fa-icon>
        </div>
        <div class="flex flex-col px-6 py-4 space-y-8">
            <div *ngFor="let item of sidebarItems" class="flex items-center">
                <fa-icon [icon]="item.icon" class="w-4 h-4 mr-4 mb-2"></fa-icon>
                <a *ngIf="item.link" [routerLink]="item.link">{{
                    item.label
                }}</a>
                <div *ngIf="!item.link">{{ item.label }}</div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between pl-6 pr-8 pb-6">
        <a [routerLink]="['/']">
            <fa-icon
                [icon]="faHouse"
                class="w-4 h-4 mr-2 hover:text-gray-200"
            ></fa-icon>
            Home
        </a>

        <div>
            <fa-icon
                [icon]="faSearch"
                class="w-4 h-4 mr-2 hover:text-gray-200"
            ></fa-icon>
            Search
        </div>
    </div>
</div>
<div
    *ngIf="!isSidebarOpen"
    class="sidebar w-12 h-full text-white border-r border-gray-300 rounded-r-md flex flex-col justify-between items-center pr-1"
>
    <!-- Top icons -->
    <div class="flex flex-col items-center space-y-6 py-4">
        <fa-icon
            [icon]="faBars"
            class="w-4 h-4 hover:text-gray-200 cursor-pointer mb-6"
            (click)="toggleSidebar()"
        ></fa-icon>

        <ng-container *ngFor="let item of sidebarItems">
            <a *ngIf="item.link" [routerLink]="item.link">
                <fa-icon
                    [icon]="item.icon"
                    class="w-4 h-4 hover:text-gray-200"
                ></fa-icon>
            </a>
            <fa-icon
                *ngIf="!item.link"
                [icon]="item.icon"
                class="w-4 h-4 hover:text-gray-200"
            ></fa-icon>
        </ng-container>
    </div>

    <!-- Bottom icons -->
    <div class="flex flex-col items-center space-y-6 py-6">
        <a [routerLink]="['/']">
            <fa-icon
                [icon]="faHouse"
                class="w-4 h-4 hover:text-gray-200"
            ></fa-icon>
        </a>
        <fa-icon
            [icon]="faSearch"
            class="w-4 h-4 hover:text-gray-200"
        ></fa-icon>
    </div>
</div>
