.auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 40px;
    line-height: 40px;
    background-color: #3A3FD6;
    color: #fff;
    border-radius: 1rem;
    font-weight: 600;
    &:hover {
        background-color: #2c14b1;
    }
}

.standard-button {
    display: block; 
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    &:hover {
        background-color: rgb(249, 250, 251);
    }
}

.standard-write-button {
    display: flex;
    height: 2.25rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* background-color: rgb(37 99 235); */
    background-color: rgb(20, 120, 230);

    color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.standard-write-button:hover {
    background-color: rgb(20, 117, 219);
    border-color: rgb(156 163 175);
}

.standard-write-button:disabled {
    background-color: rgb(106, 151, 219);
    color: rgb(156 163 175);
}

.standard-delete-button {
    display: flex;
    height: 2.25rem;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(170, 40, 40);
    color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.standard-delete-button:hover {
    background-color: rgb(165, 20, 20);
    border-color: rgb(156 163 175);
}

.standard-delete-button:disabled {
    background-color: rgb(215, 100, 100);
    color: rgb(156 163 175);
}

.dialog-close-button {
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    background-color: rgb(249 250 251);
    color: rgb(31 41 55);
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    &:hover {
        background-color: rgb(185 28 28);
        color: white;
    }
}

.search-button {
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    background-color: var(--sidebar-color);
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* Production pages */
.standard-write-button-small {
    display: flex;
    height: 2.25rem;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(20, 120, 230);
    color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.standard-write-button-small:hover {
    background-color: rgb(20, 117, 219);
    border-color: rgb(156 163 175);
}

.standard-write-button-small:disabled {
    background-color: rgb(106, 151, 219);
    color: rgb(156 163 175);
}

.standard-delete-button-small {
    display: flex;
    height: 2.25rem;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(170, 40, 40);
    color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.standard-delete-button-small:hover {
    background-color: rgb(165, 20, 20);
    border-color: rgb(156 163 175);
}

.standard-delete-button-small:disabled {
    background-color: rgb(215, 100, 100);
    color: rgb(156 163 175);
}