.page-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-with-link {
    color: rgb(37 99 235);
    text-decoration: none;
    transition: color 0.3s;
}

.text-with-link:hover {
    color: rgb(29 78 216);
    text-decoration: underline;
    text-underline-offset: 4px;
}
