.page-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.page-standard-padding {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .page-standard-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.item-page-header {
    border-bottom: 1px solid rgb(209 213 219);
    box-shadow: 0 0 5px rgba(20, 20, 20, 0.05);
}

.text-with-link {
    color: rgb(37 99 235);
    text-decoration: none;
    transition: color 0.3s;
}

.text-with-link:hover {
    color: rgb(29 78 216);
    text-decoration: underline;
    text-underline-offset: 4px;
}
