.page-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.page-standard-horizontal-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .page-standard-horizontal-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.entity-page-header {
    padding: 1rem 1.5rem;
    background-color: #eeeeee;
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0 0 5px rgba(20, 20, 20, 0.05);
}

.text-with-link {
    color: rgb(37 99 235);
    text-decoration: none;
    transition: color 0.3s;
}

.text-with-link:hover {
    color: rgb(29 78 216);
    text-decoration: underline;
    text-underline-offset: 4px;
}


.active-tab {
    border-bottom: 2px solid rgb(20, 120, 230);;
}

.custom-select {
    height: 2.25rem;
    padding: 0.5rem 1rem;
    min-width: 10rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select option {
    background-color: #f8f9fa; 
    color: #333;
    font-weight: 600;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1050;
}

.dialog-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto; 
    z-index: 2;
    background: #fff; 
    border-radius: 8px; 
}

.toast-manager-wrapper {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    z-index: 1050;
}

.label-large {
    white-space: nowrap;
    font-size: 1.25rem;
    font-weight: 600;
}

.label-medium-large {
    white-space: nowrap;
    font-size: 1.125rem;
    font-weight: 600;
}

.label-medium {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
}

.value-medium {
    font-size: 1rem;
    color: rgb(31 41 55); 
}

.pseudo-link {
    color: rgb(37 99 235);
    text-decoration: none;
    transition: color 0.3s;
}

.pseudo-link:hover {
    color: rgb(29 78 216);
    text-decoration: underline;
    text-underline-offset: 4px;
}