.form-container {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 2rem;
    width: 50%;
    max-width: 400px; /* Adjust max-width as needed */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.std-form-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 2rem 0rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: rgb(55 65 81);
}

.form-input {
    appearance: none;
    border: 1px solid #d3d3d3;
    min-width: 10rem;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    width: 100%;
    line-height: 1.25;
    color: rgb(55 65 81);
}

.form-error {
    color: rgb(185 28 28);
}