.sidebar {
    background-color: var(--sidebar-color);
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}
  
.sidebar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
}
  
.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px; 
    border: 2px solid transparent; 
}