<div class="std-form-container space-x-4">
    <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()" class="w-2/3 space-y-6">
        <h2 class="text-2xl font-semibold mb-4 text-center">Create Supplier</h2>

        <div>
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-input">
            <div *ngIf="supplierForm.get('name')?.touched && supplierForm.get('name')?.errors">
                <p *ngIf="supplierForm.get('name')?.errors?.['required']" class="form-error">Name is required.</p>
                <p *ngIf="supplierForm.get('name')?.errors?.['minlength']" class="form-error">Name must be at least 3 characters long.</p>
            </div>
        </div>

        <div>
            <app-select-or-create-location
                (locationChoiceChange)="handleLocationChoice($event)"
                (selectedLocationChange)="handleLocationSelection($event)"
                (newLocationData)="handleNewLocationData($event)"
                (isFormValid)="handleLocationFormValidity($event)"
            ></app-select-or-create-location>
        </div>

        <div class="flex items-center w-full justify-end">
            <button type="submit" class="standard-write-button">
                Create Supplier
            </button>
        </div>
    </form>
</div>
