<div class="flex items-center w-full space-x-4 p-4 bg-gray-50 border border-gray-300 rounded-md shadow-sm">
    <div class="flex items-center justify-center bg-green-600 w-6 h-6 rounded-full">
        <fa-icon [icon]="outcomeIcon" class="text-white"></fa-icon>
    </div>
    <div class="space-y-2">
        <div class="text-lg font-semibold">
            {{ toastInfo?.title }}
        </div>
        <div class="text-gray-800 text-sm">
            {{ toastInfo?.message }}
        </div>
    </div>
    <div class="mb-10">
        <button (click)="closeToast()" class="">
            <fa-icon [icon]="faXmark" class="w-4 h-4 hover:text-red-700"></fa-icon>
        </button>
    </div>
</div>