<div class="bg-gray-100 py-4 page-standard-horizontal-padding space-y-4 border-b border-gray-300 shadow-sm">
    <h2 class="flex items-center page-title">
        {{ title }}
    </h2>
    <div class="flex items-center flex-wrap lg:flex-nowrap justify-between">
        <app-search-input (searchEvent)="performSearch($event)" [placeholder]="searchPlaceholder"></app-search-input>
        <app-sort-selector (sortChange)="handleSortChange($event)" [sortOptions]="sortOptions"></app-sort-selector>
        <button
            (click)="handleRefresh()"
            class="flex items-center justify-center w-10 h-10 bg-white border border-gray-300 text-gray-800 rounded-md shadow-sm ml-1"
        >
            <fa-icon [icon]="faArrowRotateRight" class="text-gray-700"></fa-icon>
        </button>
    </div>
    <div class="flex items-center flex-wrap md:flex-nowrap space-x-2">
        <button 
            *ngIf="((selectedItemIds?.size ?? 0) > 0) || ((newRawItems?.length ?? 0) > 0)"
            (click)="handleCancelSelection()"
            class="flex items-center justify-center w-9 h-9 bg-white border border-gray-300 text-gray-800 rounded-md shadow-sm ml-1"
        >
            <fa-icon [icon]="faXmark" class="text-gray-700"></fa-icon>
        </button>
        <button *ngIf="(selectedItemIds?.size ?? 0) > 0" class="standard-delete-button">
            <fa-icon [icon]="faTrash" class="w-4 h-4 mb-1"></fa-icon>
        </button>
        <button
            *ngIf="(newRawItems?.length ?? 0) > 0"
            (click)="handleCreateItems()"
            class="standard-write-button flex items-center space-x-2"
        >
            <fa-icon [icon]="faSave" class="w-4 h-4 mb-2 mr-2"></fa-icon>
            Save Orders
        </button>
        <div *ngIf="(selectedItemIds?.size ?? 0) > 0" class="standard-write-button flex items-center">
            <fa-icon [icon]="faEdit" class="text-white mr-2"></fa-icon>
            Edit Orders
        </div>
        <button 
            (click)="handleAddItem()"
            class="standard-write-button flex items-center space-x-2"
        >
            <fa-icon [icon]="faPlus" class="text-white mr-2"></fa-icon>
            Add Order
        </button>
    </div>
</div>
