<div class="flex justify-center" *ngIf="!authService.isAuthenticated() else loggedInMessage">
    <form (ngSubmit)="onSubmit()" class="form-container space-y-6">
        <span class="flex justify-center font-bold text-2xl">Login</span>
        <div class="space-y-4">
            <label for="username" class="form-label">Username:</label>
            <input
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                class="form-input"
            />
        </div>
        <div class="space-y-4">
            <label for="password" class="form-label">Password:</label>
            <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-input"
            />
        </div>
        <div class="flex items-center justify-between pt-4 w-full space-x-4">
            <div class="auth-button w-full whitespace-nowrap"><button type="submit">Login</button></div>
            <div class="auth-button w-full">
                <a routerLink="/signup">Sign Up</a>
            </div>
        </div>
    </form>
</div>
<ng-template #loggedInMessage>
    <div class="flex justify-center text-lg font-semibold pt-8">You are already logged in.</div>
</ng-template>