<div class="p-10 space-y-10 bg-gray-50 h-full">
    <div class="flex items-center justify-center w-full">
        <h2 class="page-title">Pricing Tiers</h2>
    </div>
    
    <div class="flex items-center justify-between w-full">
        <!-- No Plan -->
        <div class="plan-box space-y-2">
            <!-- Title -->
            <div class="border-b border-gray-300 py-3 space-y-3">
                <div class="text-xl font-semibold pb-3">No Plan</div>
        
                <div class="text-3xl font-semibold">
                    $0
                </div>
                <div class="text-gray-700">
                    per organization / month
                </div>
            </div>

            <!-- Features -->


        </div>
    
        <!-- Basic Plan -->
        <div class="plan-box">
            <!-- Title -->
            <div class="border-b border-gray-300 py-3 space-y-3">
                <div class="text-xl font-semibold pb-3">Basic Plan</div>
        
                <div class="text-3xl font-semibold">
                    $30
                </div>
                <div class="text-gray-700">
                    per organization / month
                </div>
            </div>

            <!-- Features -->

        </div>
    
        <!-- Professional Plan -->
        <div class="plan-box">
            <!-- Title -->
            <div class="border-b border-gray-300 py-3 space-y-3">
                <div class="text-xl font-semibold pb-3">Professional Plan</div>
        
                <div class="text-3xl font-semibold">
                    $120
                </div>
                <div class="text-gray-700">
                    per organization / month
                </div>
            </div>

            <!-- Features -->

        </div>
    
        <!-- Enterprise Plan -->
        <div class="plan-box">
            <!-- Title -->
            <div class="border-b border-gray-300 py-3 space-y-3">
                <div class="text-xl font-semibold pb-3">Enterprise Plan</div>
        
                <div class="text-3xl font-semibold">
                    $700
                </div>
                <div class="text-gray-700">
                    per organization / month
                </div>
            </div>

            <!-- Features -->

        </div>
    </div>
</div>