<div class="p-10 space-y-10 bg-gray-50 h-full">
    <div class="flex items-center justify-center w-full">
        <h2 class="text-4xl font-semibold">Pricing Tiers</h2>
    </div>
    
    <div class="flex items-center justify-between w-full px-8 xl:px-20 lg:space-x-4">
        <div>
            <app-plan-box [planTier]="PlanTier.NONE"></app-plan-box>
        </div>

        <div>
            <app-plan-box [planTier]="PlanTier.BASIC"></app-plan-box>
        </div>

        <div>
            <app-plan-box [planTier]="PlanTier.PROFESSIONAL"></app-plan-box>
        </div>

        <div>
            <app-plan-box [planTier]="PlanTier.ENTERPRISE"></app-plan-box>
        </div>
    </div>
</div>