<div
    class="flex justify-center"
    *ngIf="!authService.isAuthenticated(); else loggedInMessage"
>
    <form (ngSubmit)="onSignupSubmit()" class="form-container space-y-6">
        <span class="flex justify-center font-bold text-2xl">Sign up</span>
        <div class="space-y-4">
            <label for="username" class="form-label">Username:</label>
            <input
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                required
                class="form-input"
            />
        </div>
        <div class="space-y-4">
            <label for="email" class="form-label">Email:</label>
            <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                required
                class="form-input"
            />
        </div>
        <div class="space-y-4">
            <label for="password" class="form-label">Password:</label>
            <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                required
                class="form-input"
            />
        </div>
        <div class="flex items-center justify-between pt-4 w-full space-x-4">
            <div class="auth-button whitespace-nowrap w-full">
                <button type="submit">Sign up</button>
            </div>
            <div class="auth-button w-full">
                <a routerLink="/login">Log in</a>
            </div>
        </div>
    </form>
</div>
<ng-template #loggedInMessage>
    <div class="flex justify-center text-lg font-semibold pt-8">
        You are already logged in.
    </div>
</ng-template>
