<div class="page-standard-padding">
    <h2 class="flex items-center">
        <fa-icon [icon]="faTruckArrowRight" class="text-lg text-gray-700"></fa-icon>
        <div class="page-title ml-2">Suppliers</div>
    </h2>
    <ul *ngFor="let supplier of suppliers" class="pt-6 space-y-4">
        <li
            key="supplier.id"
            class="px-4 py-2 bg-gray-50 hover:bg-gray-100 border border-gray-300 rounded-md shadow-sm"
        >
            <a
                [routerLink]="'/dashboard/suppliers/' + supplier.id"
                class="font-semibold text-lg hover:text-blue-700 hover:text-underline"
                >{{ supplier.name }}</a
            >
            <p class="text-gray-900">To be Added</p>
        </li>
    </ul>
</div>
