<div>
    <div id="viz" class="overflow-auto" style="width: 100%; height: 500px"></div>

    <div class="flex items-center justify-between p-2">
        <div *ngIf="isAddConnectionModeOn" class="flex items-center space-x-2">
            <div class="bg-green-600 w-2 h-2 rounded-full">
            </div>
            <p class="font-semibold">
                Add Connection Mode
            </p>
        </div>

        <div *ngIf="readyForConnectionCreation" class="flex items-center justify-end w-full">
            <button (click)="resetAddConnectionMode()" class="standard-button">
                Cancel
            </button>
            <button (click)="handleCreateConnection()" class="standard-write-button">
                Confirm Creation
            </button>
        </div>
    </div>
    
</div>