<form [formGroup]="routeForm" (ngSubmit)="onSubmit()" class="w-2/3 space-y-6">    
    <div class="flex items-start space-x-12">
        <div>
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-input">
            <div *ngIf="routeForm.get('name')?.touched && routeForm.get('name')?.errors">
                <p *ngIf="routeForm.get('name')?.errors?.['required']" class="form-error">Name is required.</p>
                <p *ngIf="routeForm.get('name')?.errors?.['minlength']" class="form-error">Name must be at least 3 characters long.</p>
            </div>
        </div>
    
        <div>
            <label for="companyId" class="form-label">Company ID:</label>
            <input id="companyId" formControlName="companyId" class="form-input"/>
            <div *ngIf="routeForm.get('companyId')?.touched">
                <p *ngIf="routeForm.get('companyId')?.errors?.['maxlength']" class="form-error">Company ID must not exceed 200 characters.</p>
            </div>
        </div>
    </div>

    <!-- Source and Destination Locations -->
    <div class="flex items-start space-x-12">
        <div class="space-y-4">
            <div class="flex items-start justify-between space-x-2">
                <div>
                    <div class="form-label">Source Location</div>
                    <input id="sourceLocationLatitude" type="number" formControlName="sourceLocationLatitude" placeholder="Latitude" class="form-input"/>
                    <input id="sourceLocationLongitude" type="number" formControlName="sourceLocationLongitude" placeholder="Longitude" class="form-input"/>
                </div>

                <p class="form-label">-</p>
                
                <div>
                    <div class="form-label">Destination Location</div>
                    <input id="destLocationLatitude" type="number" formControlName="destLocationLatitude" placeholder="Latitude" class="form-input"/>
                    <input id="destLocationLongitude" type="number" formControlName="destLocationLongitude" placeholder="Longitude" class="form-input"/>
                </div>
            </div>
    
            <div class="flex items-center space-x-4">
                <button 
                    *ngIf="!areLocationsConfirmed"
                    type="button" 
                    (click)="handleToggleSelectLocationMode()" 
                    [class.selected]="isSelectLocationModeOn"
                    class="standard-button"
                >
                    Select on Map
                </button>
    
                <div *ngIf="areLocationsSelected" class="flex items-center space-x-2">  
                    <button (click)="handleCancelRouteLocations()" type="button" class="standard-button">
                        Cancel
                    </button>
                    <button (click)="handleConfirmRouteLocations()" type="button" class="standard-write-button">
                        Confirm
                    </button>
                </div>
    
                <button
                    *ngIf="areLocationsConfirmed"
                    (click)="handleCancelConfirmedLocations()"
                    type="button"
                    class="standard-button"
                >
                    Cancel Selection
                </button>
            </div>
        </div>
        
        <div>
            <div class="form-label">Current Location</div>
            <button type="button" (click)="handleToggleSelectLocationMode()" class="standard-button">
                Select on Map
            </button>
        </div>
    </div>

    <!-- Dates -->
    <div>
        <div class="form-label">Departure Date</div>
        <input id="departureDateTime" type="date" formControlName="departureDateTime" class="form-input">
    </div>
    <div>
        <div class="form-label">Arrival Date</div>
        <input id="arrivalDateTime" type="date" formControlName="arrivalDateTime" class="form-input">
    </div>
    <div>
        <div class="form-label">Estimated Arrival Date</div>
        <input id="estimatedArrivalDateTime" type="date" formControlName="estimatedArrivalDateTime" class="form-input">
    </div>

    <div>
        <div class="form-label">Transport Type</div>
        <app-select-enum [enumType]="TransportType" (selectionChange)="onTransportTypeSelectionChanged($event)"></app-select-enum>
    </div>

    <div>
        <div class="form-label">Route Status</div>
        <app-select-enum [enumType]="ShipmentStatus" (selectionChange)="onStatusSelectionChanged($event)"></app-select-enum>
    </div>

    <!-- Submit -->
    <div class="flex items-center w-full justify-end">
        <button type="submit" class="standard-write-button">
            Add Route
        </button>
    </div>
</form>