<!-- Header -->
<div *ngIf="(!fallbackManagerState.errorMessage && !fallbackManagerState.noOrganization) || fallbackManagerState.loading" class="page-standard-padding item-page-header">
    <div class="flex items-center">
        <fa-icon
            [icon]="faWarehouse"
            class="small-icon text-gray-700 mr-2 mb-1"
        ></fa-icon>
        <h2 class="page-title">Warehouse: {{ warehouse?.name }}</h2>
    </div>

    <div class="flex items-center pt-4">
        <span class="font-semibold text-lg mr-1">Location:</span>
        <p class="text-gray-900">{{ warehouse?.location?.address }}</p>
    </div>
</div>

<!-- Content -->
<div *ngIf="!fallbackManagerState.fallBack"  class="page-standard-padding">
    Capacity, inventory, yield...
</div>

<!-- Fallback manager -->
<app-fallback-manager
    [fallbackManagerState]="fallbackManagerState"
></app-fallback-manager>
