<div>
    <app-table-toolbar
        [title]="'Supplier Orders'" [searchPlaceholder]="'Search by company ID'" [sortOptions]="sortOptions"
        [selectedItemIds]="selectedOrderIds"
        (onSearch)="handleSearch($event)" (onSortChange)="handleSortChange($event)" (onCancelSelection)="handleCancelSelectedOrders()"
    ></app-table-toolbar>
</div>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th class="select-col"><input type="checkbox" (change)="toggleAllSelections($event)"/></th> <!-- Header Checkbox -->
                <th class="id-col">ID</th>
                <th class="supplier-id-col">Supplier ID</th>
                <th class="component-col">Component</th>
                <th class="quantity-col">Quantity</th>
                <th class="delivered-col">Delivered Quantity</th>
                <th class="order-date-col">Order Date</th>
                <th class="est-delivery-col">Estimated Delivery Date</th>
                <th class="delivery-date-col">Delivery Date</th>
                <th class="company-id-col">Company ID</th>
                <th class="status-col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of supplierOrders?.results; let i = index">
                <td><input type="checkbox" [checked]="order.selected" (change)="toggleSelection(order)" /></td> <!-- Row-specific Checkbox -->
                <td>{{ order.id }}</td>
                <td>{{ order.supplierId }}</td>
                <td>{{ order.component.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.deliveredQuantity }}</td>
                <td>{{ order.orderDate | date:'shortDate' }}</td>
                <td>{{ order.estimatedDeliveryDate | date:'shortDate' }}</td>
                <td>{{ order.deliveryDate | date:'shortDate' }}</td>
                <td>{{ order.companyId }}</td>
                <td>{{ decapitalize(order.status.toString()) }}</td>
            </tr>
        </tbody>
    </table>

</div>