.resize-handle {
    width: 5px;
    background-color: #241fb3;
    cursor: col-resize;
}

.tabs-scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    flex-shrink: 0;         /* Prevent shrinking */
}

.tabs-scroll-container::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}
