<div class="page-standard-horizontal-padding py-4 space-y-4">
    <div class="flex items-center justify-between w-full">
        <h2 class="page-title">
            Pricing
        </h2>
        
        <div class="flex items-center space-x-2">
            <!-- Delete -->
            <button
                (click)="openConfirmDeleteDialog()"
                class="standard-delete-button"
                *ngIf="!isEditing"
            >
                <fa-icon [icon]="faTrash" class="w-4 h-4 mb-1"></fa-icon>
            </button>

            <!-- Edit -->
            <button
                (click)="handleEditPricing()"
                class="standard-write-button"
                *ngIf="!isEditing"
            >
                <fa-icon [icon]="faEdit" class="w-4 h-4 mb-2 mr-2"></fa-icon>
                <p>Edit</p>
            </button>

            <!-- Save -->
            <button
                (click)="handleSavePricing()"
                class="standard-write-button"
                *ngIf="isEditing"
            >
                <fa-icon [icon]="faSave" class="w-4 h-4 mb-2 mr-2"></fa-icon>
                <p>Save</p>
            </button>

            <!-- Cancel -->
            <button
                (click)="handleCancelEditPricing()"
                class="standard-button"
                *ngIf="isEditing"
            >
                <fa-icon [icon]="faTimes" class="w-4 h-4"></fa-icon>
            </button>
        </div>
    </div>

    <!-- Content -->
    <div *ngIf="pricing" class="py-4">
        <input type="range" id="pricePerUnitSlider" name="pricePerUnit"
               min="0" [max]="maxTierQuantity * 2" step="0.01"
               [(ngModel)]="quantity" (ngModelChange)="updatePricing()">
    </div>

    <div class="flex items-center space-x-8">
        <div class="flex items-center space-x-2">
            <span class="label-medium-large">Quantity: </span>
            <span class="label-medium">{{ quantity + ' ' + uiUtilService.formatUnitOfMeasurement(product?.unit, false, true)}}</span>
        </div>

        <div class="flex items-center space-x-2">
            <span class="label-medium-large">Total Price: </span>
            <span class="label-medium">$ {{ totalPrice }}</span>
        </div>
        
        <div class="flex items-center space-x-2">
            <span class="label-medium-large">Price per Unit: </span>
            <span class="label-medium">$ {{ pricePerUnit }}</span>
        </div>
    </div>
    
    <!-- Tiers -->
    <div *ngIf="pricing" class="py-2">
        <span class="label-large">Price Tiers</span>
        
        <!-- Existing tiers -->
        <div *ngIf="!isEditing">
            <div *ngFor="let priceRange of priceRanges; let i = index" class="flex items-center space-x-4 my-2">
                <span class="label-medium-large">
                    {{ priceRange.min | number:'1.2-2' }} - {{ priceRange.max | number:'1.2-2' }}:
                </span>
                <div class="flex items-center space-x-2">
                    <span class="label-medium-large">
                        ${{ priceRange.price | number:'1.2-2' }}
                    </span>
                    <p class="value-medium">per unit</p>
                </div>
                
            </div>
        </div>

        <div *ngIf="isEditing">
            <div *ngFor="let priceRange of editedRanges; let i = index" class="flex items-center space-x-4 my-2">
                <!-- Non-edited row -->
                <span *ngIf="!priceRange?.isEdited" class="label-medium-large">
                    {{ priceRange.min | number:'1.2-2' }} - {{ priceRange.max | number:'1.2-2' }}:
                </span>
                <div *ngIf="!priceRange?.isEdited" class="flex items-center space-x-2">
                    <span class="label-medium-large">
                        ${{ priceRange.price | number:'1.2-2' }}
                    </span>
                    <span class="value-medium">per unit</span>
                </div>

                <!-- Edited row -->
                <div *ngIf="priceRange?.isEdited" class="flex items-center space-x-4">
                    <input
                        type="number"
                        class="form-input w-20"
                        [(ngModel)]="priceRange.min"
                        placeholder="Min"
                    >
                    <p class="label-medium">-</p>
                    <input
                        type="number"
                        class="form-input w-20"
                        [(ngModel)]="priceRange.max"
                        placeholder="Max"
                    >
                    <p class="label-medium">:</p>
                    <input
                        type="number"
                        class="form-input w-20"
                        [(ngModel)]="priceRange.price"
                        placeholder="Price"
                    >
                </div>

                <!-- Buttons -->
                <button
                    (click)="removeTier(i)"
                    class="standard-delete-button"
                >
                    <fa-icon [icon]="faTrash" class="w-4 h-4 mb-1"></fa-icon>
                </button>

                <button
                    *ngIf="!priceRange?.isEdited"
                    (click)="editTier(i)"
                    class="standard-write-button"
                >
                    <fa-icon [icon]="faEdit" class="w-4 h-4 mb-1"></fa-icon>
                </button>
                
                <button
                    *ngIf="priceRange?.isEdited"
                    (click)="saveTier(i)"
                    class="standard-write-button"
                >
                    <fa-icon [icon]="faSave" class="w-4 h-4 mb-1"></fa-icon>
                </button>

                <button
                    *ngIf="priceRange?.isEdited"
                    (click)="cancelEditTier(i)"
                    class="standard-button"
                >
                    <fa-icon [icon]="faTimes" class="w-4 h-4"></fa-icon>
                </button>
            </div>

            <button
                (click)="addTier()"
                class="standard-write-button"
            >
                <fa-icon [icon]="faPlus" class="w-4 h-4 mb-1"></fa-icon>
            </button>
        </div>
    </div>    


</div>

<!-- Confirm dialog -->
<div class="overlay" *ngIf="isConfirmDialogOpen">
    <div class="dialog-container">
        <app-generic-confirm-dialog 
            [dialogInput]="deleteDialogInput"
            (confirm)="handleDeletePricing()"
            (cancel)="cancelDeletePricing()"
        >
        </app-generic-confirm-dialog>
    </div>
</div>