<!-- Header -->
<div *ngIf="(!fallbackManagerState.errorMessage && !fallbackManagerState.noOrganization) || fallbackManagerState.loading" class="page-standard-padding item-page-header">
    <div class="flex items-center">
        <fa-icon
            [icon]="faBox"
            class="small-icon text-gray-700 mr-2 mb-1"
        ></fa-icon>
        <h2 class="page-title">Product: {{ product?.name }}</h2>
    </div>

    <div class="flex items-center pt-4">
        <span class="font-semibold text-lg mr-1">Description:</span>
        <p class="text-gray-900">{{ product?.description }}</p>
    </div>
</div>

<!-- Content -->
<!-- Project Pipeline -->
<div *ngIf="!fallbackManagerState.fallBack"  class="page-standard-padding">
    <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold">Product Pipeline</h2>
        <a
            [routerLink]="
                '/dashboard/products/' + product?.id + '/configure-pipeline'
            "
            class="text-with-link"
        >
            <fa-icon [icon]="faGear" class="small-icon text-gray-700 text-sm"></fa-icon>
            Configure Pipeline</a
        >
    </div>
    <div class="flex space-x-4 pt-6">
        <ul *ngFor="let stage of product?.stages" class="">
            <li
                class="w-64 px-4 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm"
            >
                <h1 class="font-semibold text-lg">
                    {{ stage.name }}
                </h1>
                <p class="text-gray-900">
                    {{ stage.description }}
                </p>
            </li>
        </ul>
    </div>
</div>

<!-- Fallback manager -->
<app-fallback-manager
    [fallbackManagerState]="fallbackManagerState"
></app-fallback-manager>
