<div class="px-8 py-4 space-y-4">
    <div class="flex items-center space-x-2">
        <h2 class="label-medium-large">Created At: </h2>
        <p class="value-medium">{{ client?.createdAt | date: 'medium' }}</p>
    </div>
    <div class="flex items-center space-x-2">
        <h2 class="label-medium-large">Last Modified: </h2>
        <p class="value-medium">{{ client?.updatedAt | date: 'medium' }}</p>
    </div>

    <div>
        <app-overview-section
            [label]="'Supplied Products: '"
            [feature]="'products'"
            [entities]="clientOverview?.suppliedProducts"
        ></app-overview-section>
    </div>
    <div>
        <app-overview-section
            [label]="'Delivered from Factories: '"
            [feature]="'factories'"
            [entities]="clientOverview?.deliveredFromFactories"
        ></app-overview-section>
    </div>
    <div>
        <app-overview-section
            [label]="'Delivered from Warehouses: '"
            [feature]="'warehouses'"
            [entities]="clientOverview?.deliveredFromWarehouses"
        ></app-overview-section>
    </div>

    <div class="space-y-4">
        <h2 class="label-large">Location</h2>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">Address: </h2>
            <p class="value-medium">{{ client?.location?.address }}</p>
        </div>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">City: </h2>
            <p class="value-medium">{{ client?.location?.city }}</p>
        </div>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">State: </h2>
            <p class="value-medium">{{ client?.location?.state }}</p>
        </div>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">Country: </h2>
            <p class="value-medium">{{ client?.location?.country }}</p>
        </div>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">Zip Code: </h2>
            <p class="value-medium">{{ client?.location?.zipCode }}</p>
        </div>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">Latitude: </h2>
            <p class="value-medium">{{ client?.location?.latitude }}</p>
        </div>
        <div class="flex items-center space-x-2">
            <h2 class="label-medium-large">Longitude: </h2>
            <p class="value-medium">{{ client?.location?.longitude }}</p>
        </div>
    </div>
</div>