<div class="std-form-container space-x-4">
    <form [formGroup]="stageInputForm" (ngSubmit)="onSubmit()" class="w-2/3 space-y-6">
        <h2 class="text-2xl font-semibold mb-4 text-center">Add Stage Input</h2>

        <div>
            <label for="stage" class="form-label">Stage:</label>
            <app-select-stage [initialData]="{ stageId: inputData?.initialStageId }" (stageSelected)="handleStageIdChange($event)"></app-select-stage>
        </div>

        <div>
            <label for="component" class="form-label">Component:</label>
            <app-select-component (componentSelected)="handleComponentChange($event)"></app-select-component>
        </div>
        
        <div>
            <label for="quantity" class="form-label">Quantity:</label>
            <input type="number" id="quantity" formControlName="quantity" class="form-input">
            <div *ngIf="stageInputForm.get('quantity')?.touched && stageInputForm.get('quantity')?.errors">
                <p *ngIf="stageInputForm.get('quantity')?.errors?.['pattern']" class="form-error">
                    Invalid quantity format. Quantity must be a number bigger than 0.
                </p>
            </div>
        </div>

        <div class="flex items-center w-full justify-end">
            <button type="submit" class="standard-write-button">
                Add Stage Input
            </button>
        </div>
    </form>
</div>
