<div class="page-standard-horizontal-padding overflow-x-hidden">
    <div class="flex items-center">
        <fa-icon
            [icon]="faGlobe"
            class="small-icon text-gray-700 mr-2 mb-1"
        ></fa-icon>
        <h2 class="page-title">Overview</h2>
    </div>
    <div class="py-6">
        <div class="flex items-center">
            <fa-icon
                [icon]="faMap"
                class="small-icon text-gray-700 mr-2 mb-1"
            ></fa-icon>
            <h2 class="text-lg font-semibold">Map</h2>
        </div>

        <!-- Map -->
        <app-map></app-map>
    </div>
</div>
