<div class="page-standard-horizontal-padding overflow-x-hidden space-y-4">
    <div class="flex items-center py-4">
        <fa-icon
            [icon]="faGlobe"
            class="small-icon text-gray-700 mr-2 mb-1"
        ></fa-icon>
        <h2 class="page-title">Overview</h2>
    </div>

    <!-- Notifications -->
    <div class="border border-gray-300 rounded-md shadow-sm overflow-y-auto max-h-80">
        <div class="px-4 py-2 flex items-center bg-gray-100 border-b border-gray-300">
            <h2 class="text-lg font-semibold">Notifications ({{ results?.results?.length }})</h2>
        </div>
        <div *ngFor="let notification of results?.results" class="px-4 py-2 border-y border-gray-200">
            <div class="font-semibold">{{ notification?.notification?.title }}</div>
            <div class="text-sm">{{ notification?.notification?.message }}</div>
        </div>

        <button *ngIf="isNextPage" (click)="loadNextPage()" class="px-4 py-2 text-blue-700">
            Load More
        </button>
    </div>

    <!-- Map -->
    <div class="py-6">
        <div class="flex items-center">
            <fa-icon
                [icon]="faMap"
                class="small-icon text-gray-700 mr-2 mb-1"
            ></fa-icon>
            <h2 class="text-lg font-semibold">Map</h2>
        </div>

        <app-map></app-map>
    </div>
</div>
