<div [formGroup]="locationForm">
    <form>
        <!-- Radio buttons for choice -->
        <div class="flex items-center space-x-8 mb-4">
            <label class="flex items-center form-label">
                <input
                    type="radio"
                    name="locationChoice"
                    [(ngModel)]="locationChoice"
                    value="select"
                    class="mr-2"
                    (change)="updateLocationChoice('select')"
                />
                Select Location
            </label>
            <label class="flex items-center form-label">
                <input
                    type="radio"
                    name="locationChoice"
                    [(ngModel)]="locationChoice"
                    value="create"
                    class="mr-2"
                    (change)="updateLocationChoice('create')"
                />
                Create Location
            </label>
        </div>

        <!-- Section to select location -->
        <div *ngIf="locationChoice === 'select'" (change)="updateLocationChoice('select')">
            <select id="locationSelect" name="selectedLocationId" [(ngModel)]="selectedLocationId" (ngModelChange)="selectLocation(selectedLocationId)" class="custom-select">
                <option *ngFor="let location of locations" [ngValue]="location.id">
                    {{ formatLocation(location) }}
                </option>
            </select>            
        </div>

        <!-- Section to create location -->
        <div *ngIf="locationChoice === 'create'" (change)="updateLocationChoice('create')" class="space-y-4">
            <div>
                <label for="address" class="form-label">Address:</label>
                <input type="text" id="address" formControlName="address" class="form-input">
                <div *ngIf="locationForm.get('address')?.touched && locationForm.get('address')?.errors">
                    <p *ngIf="locationForm.get('address')?.errors?.['minlength']" class="form-error">Address must be at most 200 characters long.</p>
                </div>
            </div>

            <div>
                <label for="city" class="form-label">City:</label>
                <input type="text" id="city" formControlName="city" class="form-input">
                <div *ngIf="locationForm.get('city')?.touched && locationForm.get('city')?.errors">
                    <p *ngIf="locationForm.get('city')?.errors?.['minlength']" class="form-error">City must be at most 200 characters long.</p>
                </div>
            </div>

            <div>
                <label for="state" class="form-label">State:</label>
                <input type="text" id="state" formControlName="state" class="form-input">
                <div *ngIf="locationForm.get('state')?.touched && locationForm.get('state')?.errors">
                    <p *ngIf="locationForm.get('state')?.errors?.['minlength']" class="form-error">State must be at most 200 characters long.</p>
                </div>
            </div>

            <div>
                <label for="country" class="form-label">Country:</label>
                <input type="text" id="country" formControlName="country" class="form-input">
                <div *ngIf="locationForm.get('country')?.touched && locationForm.get('country')?.errors">
                    <p *ngIf="locationForm.get('country')?.errors?.['minlength']" class="form-error">Country must be at most 200 characters long.</p>
                </div>
            </div>

            <div>
                <label for="zipCode" class="form-label">ZipCode:</label>
                <input type="text" id="zipCode" formControlName="zipCode" class="form-input">
                <div *ngIf="locationForm.get('zipCode')?.touched && locationForm.get('zipCode')?.errors">
                    <p *ngIf="locationForm.get('zipCode')?.errors?.['minlength']" class="form-error">ZipCode must be at most 200 characters long.</p>
                </div>
            </div>

            <div>
                <label for="latitude" class="form-label">Latitude:</label>
                <input type="text" id="latitude" formControlName="latitude" class="form-input">
                <div *ngIf="locationForm.get('latitude')?.touched && locationForm.get('latitude')?.errors">
                    <p *ngIf="locationForm.get('latitude')?.errors?.['minlength']" class="form-error">Latitude must be at most 200 characters long.</p>
                </div>
            </div>

            <div>
                <label for="longitude" class="form-label">Longitude:</label>
                <input type="text" id="longitude" formControlName="longitude" class="form-input">
                <div *ngIf="locationForm.get('longitude')?.touched && locationForm.get('longitude')?.errors">
                    <p *ngIf="locationForm.get('longitude')?.errors?.['minlength']" class="form-error">Longitude must be at most 200 characters long.</p>
                </div>
            </div>

        </div>
    </form>
</div>
