<div class="w-full bg-white rounded-md">
    <div class="flex items-center justify-between w-full pb-4">
        <div class="flex items-center space-x-4">
            <h2 class="label-large">Custom Plan</h2>

            <button
                (click)="expandCustomPlan()"
            >
                <fa-icon [icon]="isEditing ? faChevronUp : faChevronDown" class="text-gray-700"></fa-icon>
            </button>
        </div>

        <!-- Monthly/Yearly Switch -->
        <div *ngIf="isEditing" class="flex items-center space-x-4">
            <span class="font-semibold text-gray-700">Monthly</span>
            <div class="toggle-switch">
                <label>
                    <input
                        type="checkbox"
                        [(ngModel)]="isMonthly"
                    />
                    <span class="slider round"></span>
                </label>
            </div>
            <span class="font-semibold text-gray-700">Yearly</span>
        </div>
    </div>

    <!-- Plan Tiers -->
    <div *ngIf="isExpanded" class="flex items-center justify-center w-full">
        <button
            (click)="selectPlanTier(this.calculatorService.getPlanTierEnum(planTierKey))"
            *ngFor="let planTierKey of this.calculatorService.getObjectValues(PlanTier)" 
            [class]="planTierKey === selectedPlanTier ? 'bg-gray-100' : ''"
            class="flex flex-col items-center justify-center space-y-2 px-8 py-4 hover:bg-gray-100"
        >
            <h2 class="font-semibold text-lg">
                {{ uiUtilService.formatEnum(planTierKey.toString()) }}
            </h2>

            <span class="text-lg font-semibold text-gray-800">
                ${{ planService.getSubscriptionPlan(this.calculatorService.getPlanTierEnum(planTierKey)).dollarsPerMonth}}
            </span>
        </button>
    </div>

    <!-- Features -->
    <mat-accordion *ngIf="isExpanded" multi="true" class="overflow-y-auto pt-6">
        <div class="grid grid-cols-4 gap-4 px-8 py-4 font-semibold text-xl bg-white">
            <div>Features</div>
            <div>Base</div>
            <div>Quantity</div>
            <div>Price</div>
        </div>
    
        <mat-expansion-panel *ngFor="let group of this.calculatorService.getObjectValues(this.calculatorService.getFeaturesByGroup())" class="border-t border-gray-300">
            <mat-expansion-panel-header class="border-0 shadow-none">
                <mat-panel-title class="text-xl font-semibold p-2">
                    {{ group }}
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            <div *ngFor="let featureKey of  this.calculatorService.getFeaturesByGroup()[group]" class="pt-2 pl-8">
                <div class="grid grid-cols-4 gap-4 items-center">
                    <div class="col-span-1">
                        <h2 class="text-lg font-semibold">{{ this.uiUtilService.formatEnum(featureKey) }}</h2>
                    </div>
                    <div class="col-span-1 text-lg text-gray-800">
                        {{ this.uiUtilService.formatNumber(this.calculatorService.getPlanFeatureDetail(this.calculatorService.getFeatureEnum(featureKey), selectedPlanTier, currentPlan)) }}
                    </div>
                    <div *ngIf="!isEditing" class="col-span-1">
                        {{ this.calculatorService.getPlanFeatureQuantity(this.calculatorService.getFeatureEnum(featureKey), customPlan) }}
                    </div>
                    <div *ngIf="isEditing" class="col-span-1">
                        <input type="number" [(ngModel)]="customPlan.additionalFeatures[this.calculatorService.getFeatureEnum(featureKey)]"
                               class="w-20 h-10 border border-gray-300 rounded-md p-2 text-center font-semibold" />
                    </div>
                    
                    <div class="col-span-1 text-lg font-semibold text-gray-800">
                        ${{ this.calculatorService.getFeaturePrice(this.calculatorService.getFeatureEnum(featureKey), customPlan, isMonthly) | number:'1.0-2' }}
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    

    <div *ngIf="isExpanded" class="flex items-center justify-end w-full py-4">
        <div class="space-y-3 text-end">
            <div class="text-xl font-semibold text-gray-800">
                Total:  ${{ this.calculatorService.getTotalPrice(customPlan, isMonthly) | number: '1.0-2' }} 
            </div>
            <p class="text-gray-700">per organization / month</p>
            <p class="text-gray-700">
                {{ isMonthly ? 'Billed monthly' : 'Billed annually' }}
            </p>
        </div>
    </div>

    <button
        *ngIf="isInPricingPage && isExpanded"
        (click)="continueWithCustomPlan()" 
        class="standard-write-button flex items-center justify-center w-full py-6 text-xl font-semibold"
    >
        Continue with Plan
    </button>
</div>