<div >
    <app-table-toolbar
        [title]="searchMode == SearchMode.ORGANIZATION ? 'Client Orders' : ''" [searchPlaceholder]="'Search by company ID'" [dontPadHorizontally]="dontPadHorizontally"
        [sortOptions]="sortOptions" [filterOptions]="filterOptions"
        [selectedItemIds]="selectedOrderIds" [newRawItems]="newRawOrders" [isEditing]="isEditing"
        (onSearch)="handleSearch($event)" (onSortChange)="handleSortChange($event)" (onFilterChange)="handleFilterChange($event)" (onRefresh)="handleRefresh()"
        (onCancel)="handleCancel()"(onAddItem)="handleAddOrder()" (onCreateItems)="handleCreateOrders()" (onEditItems)="editSelectedOrders()" (onSaveEditedItems)="saveEditedOrders()" (onDeleteItems)="openConfirmDeleteDialog()"
    ></app-table-toolbar>
</div>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th class="select-col"><input type="checkbox" (change)="toggleAllSelections($event)"/></th>
                <th class="id-col">ID</th>
                <th class="company-id-col">Company ID</th>
                <th class="client-id-col px-2">Client</th>
                <th class="product-col">Product</th>
                <th class="quantity-col">Quantity</th>
                <th class="delivered-col">Delivered Quantity</th>
                <th class="order-date-col">Order Date</th>
                <th class="est-delivery-col">Estimated Delivery Date</th>
                <th class="delivery-date-col">Delivery Date</th>
                <th class="status-col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newOrder of newRawOrders; let i = index">
                <td><input type="checkbox" [(ngModel)]="newOrder.selected"></td>
                <td>{{ i + 1 }}</td>
                <td><input type="text" [(ngModel)]="newOrder.companyId" class="form-input"></td>
                <td>
                    <!-- Dropdown for selecting client -->
                    <select [(ngModel)]="newOrder.clientId" name="clientId-{{ i }}" class="custom-select">
                        <option *ngFor="let client of clients" [value]="client.id">
                            {{ client.name }}
                        </option>
                    </select>
                </td>
                <td>
                    <!-- Dropdown for selecting product -->
                    <select [(ngModel)]="newOrder.productId" name="productId-{{ i }}" class="custom-select">
                        <option *ngFor="let product of products" [value]="product.id">
                            {{ product.name }}
                        </option>
                    </select>
                </td>
                <td><input type="number" [(ngModel)]="newOrder.quantity" class="form-input"></td>
                <td><input type="number" [(ngModel)]="newOrder.deliveredQuantity" class="form-input"></td>
                <td><input type="date" [(ngModel)]="newOrder.orderDate" class="form-input"></td>
                <td><input type="date" [(ngModel)]="newOrder.estimatedDeliveryDate" class="form-input"></td>
                <td><input type="date" [(ngModel)]="newOrder.deliveryDate" class="form-input"></td>
                <td>
                    <!-- Dropdown for selecting order status -->
                    <select [(ngModel)]="newOrder.status" name="status-{{ i }}" class="custom-select">
                        <option *ngFor="let status of OrderStatus | keyvalue" [value]="status.value">
                            {{ status.value }}
                        </option>
                    </select>
                </td>
            </tr>
            <ng-container *ngFor="let order of clientOrders?.results; let i = index">
                <tr *ngIf="!order.isEditing">
                    <td><input type="checkbox" [checked]="order?.selected" (change)="toggleSelection(order)" /></td> <!-- Row-specific Checkbox -->
                    <td>{{ order.id }}</td>
                    <td>{{ order?.companyId }}</td>
                    <td>{{ getClientName(order.clientId) }}</td>
                    <td>{{ order?.product?.name }}</td>
                    <td>{{ order?.quantity }}</td>
                    <td>{{ order?.deliveredQuantity }}</td>
                    <td>{{ order?.orderDate | date:'shortDate' }}</td>
                    <td>{{ order?.estimatedDeliveryDate | date:'shortDate' }}</td>
                    <td>{{ order?.deliveryDate | date:'shortDate' }}</td>
                    <td>{{ decapitalize(order?.status?.toString()) }}</td>
                </tr>
                <tr *ngIf="order.isEditing">
                    <td><input type="checkbox" [(ngModel)]="order.selected"></td>
                    <td>{{ order.id }}</td>
                    <td><input type="text" [(ngModel)]="order.companyId" class="form-input"></td>
                    <td>
                        <!-- Dropdown for selecting client -->
                        <select [(ngModel)]="order.clientId" name="clientId-{{ i }}" class="custom-select">
                            <option *ngFor="let client of clients" [value]="client.id">
                                {{ client.name }}
                            </option>
                        </select>
                    </td>
                    <td>
                        <!-- Dropdown for selecting product -->
                        <select [(ngModel)]="selectedProductId[order.id]" (ngModelChange)="setProductId(order, $event)" name="productId-{{ i }}" class="custom-select">
                            <option [value]="null">Select a product</option>
                            <option *ngFor="let product of products" [value]="product.id">
                                {{ product.name }}
                            </option>
                        </select>                        
                    </td>
                    <td><input type="number" [(ngModel)]="order.quantity" class="form-input"></td>
                    <td><input type="number" [(ngModel)]="order.deliveredQuantity" class="form-input"></td>
                    <td><input type="date" [(ngModel)]="order.orderDate" class="form-input"></td>
                    <td><input type="date" [(ngModel)]="order.estimatedDeliveryDate" class="form-input"></td>
                    <td><input type="date" [(ngModel)]="order.deliveryDate" class="form-input"></td>
                    <td>
                        <!-- Dropdown for selecting order status -->
                        <select [(ngModel)]="order.status" name="status-{{ i }}" class="custom-select">
                            <option *ngFor="let status of OrderStatus | keyvalue" [value]="status.value">
                                {{ status.value }}
                            </option>
                        </select>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>

<!-- Page Selector -->
<div class="flex items-center justify-end py-4">
    <app-page-selector
        [page]="searchParams.page"
        [itemsPerPage]="searchParams.itemsPerPage"
        [totalItems]="clientOrders?.totalCount || clientOrders?.results?.length || 0"
        (pageChange)="changePage($event)"
    ></app-page-selector>
</div>


<!-- Confirm dialog -->
<div class="overlay" *ngIf="isConfirmDialogOpen">
    <div class="dialog-container">
        <app-generic-confirm-dialog 
            [dialogInput]="deleteDialogInput"
            (confirm)="handleDeleteClientOrders()"
            (cancel)="handleCancelDeletion()"
        >
        </app-generic-confirm-dialog>
    </div>
</div>