<!-- Header -->
<div class="page-standard-padding border-b border-gray-300 shadow-sm">
    <div class="flex items-center">
        <fa-icon
            [icon]="faTruckArrowRight"
            class="small-icon text-gray-700 mr-2 mb-1"
        ></fa-icon>
        <h2 class="page-title">Supplier: {{ supplier?.name }}</h2>
    </div>

    <div class="flex items-center pt-4">
        <span class="font-semibold text-lg mr-1">Location:</span>
        <p class="text-gray-900">To be added</p>
    </div>
</div>

<!-- Content -->
<div class="page-standard-padding">
    Capacity, inventory, yield...
</div>